.form-group{
	vertical-align:middle;
	margin:0 auto;
	text-align:center;
	width:30%;
	min-width:30em;
	
}

body{
	background-color:#000;
	color:#d35400;
}

.btn{/*spooky styles*/
	background-color:#d35400;
	color:#000;
	border:solid #000 1px;
}

.btn:hover{
	background-color:#e67e22;
	color:#000;
}

.btn:active{
	background-color:#e67e22;
	color:#000;
}

#pay{
	border:solid #fff 1px;
	margin-top:1em;
	margin-bottom: 1em;
	border-radius:1em;
}

#pay{
	padding:1em;
}